section {
    margin: 0 auto;
    max-width: min(1600px, 90%);
    min-height: 100vh;
}

.dev-grid {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
}

.dev-card {
    border-radius: 5px;
    background-color: #fefefe;
    box-shadow: 5px 8px 3px #cdcdcd;
    color: black;
}

.dev-card-img {
    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.dev-pic {
    height: 150px;
    border-radius: 50%;
}

.dev-description > ul  {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    padding: 1em;
}

.dev-card-body {
    padding: 1em 2em;
}

.searchbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchbar input {
    padding: 10px;
    width: 300px;
    outline: none;
    -webkit-tap-highlight-color: none;
    border: none;
    background-color: transparent;
}

.searchbar .search-background {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 5px;
}

.searchbar .search-background img {
    color: black;
    margin: 5px;
    width: 25px;
    height: 25px;
}

.searchbar button {
    padding: 10px;
    width: 80px;
    color: black;
    border-radius: 25px;
    color: white;
}

@media screen and (min-width: 768px) {
    .dev-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .searchbar input {
        padding: 10px;
        width: 200px;
    }
}