@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Homemade+Apple&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.settings-editToggle {
  background-color: white;
  display: flex;
  width: 70vw;
  justify-content: end;
  color: black;
}

.settings {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

.settings .container {
  width: 70%;
  height: 100%;
  background-color: white;
}

.settings .container .settings-header {
  border-bottom: 2px solid #1B2430;
}

.settings .container .settings-header div.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.settings .container .settings-header div.name div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.settings .container .settings-header div.name div label {
  color: black;
}

.settings .container .settings-header div.name div input {
  padding: 5px;
  width: 80%;
  border: none;
  outline: none;
  font-weight: bold;
}

.settings .container .settings-header div.name div input.fullname {
  width: 40%;
}

.settings .container .settings-header .toggle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings .container .settings-header .toggle h4 {
  color: black;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
}

.settings .container .settings-header .toggle .toggleButton {
  width: 60px;
  height: 30px;
  background-color: #1B2430;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding: 1px;
  border: 1px solid #1B2430;
  cursor: pointer;
  text-decoration: none;
  font-size: 11px;
  color: #FFF;
}

.settings .container .settings-header .toggle .toggleButton .spanToggle {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #f8ec03;
  transform: translateX(0);
  transition: 0.5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.settings .container .settings-header .toggle .editText {
  transform: translateY(-20px);
  color: black;
}

.settings .container .settings-body div table {
  border: 1px solid gray;
  text-align: center;
}

.settings .container .settings-body #btnAddTechnology {
  text-align: center;
}
