@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Homemade+Apple&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-justify: distribute;
  word-spacing: -2px;
  text-align-last: left;
}

p {
  text-align: justify;
  text-justify: distribute;
  text-align-last: left;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1B2430;
  color: #FFF;
  overflow-x: hidden;
  max-width: 100vw;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.4rem;
  font-size: 1.2rem;
  width: 100vw;
}

.header-nav #logo-header h1 {
  padding-left: 1.2rem;
}

.header-nav #logo-header h1 a {
  color: #FFF;
  text-decoration: none;
}

.header-nav #logo-header h1 a:hover {
  color: rgba(179, 206, 249, 0.5);
}

.header-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding-right: 1.2rem;
}

.header-nav ul span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-nav ul li {
  margin: 0 30px;
}

.header-nav ul li a {
  text-decoration: none;
  color: #FFF;
}

.header-nav ul li a:hover {
  color: rgba(179, 206, 249, 0.5);
}

.header-nav ul li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.header-nav ul li .profile-dropdown {
  width: 200px;
  height: auto;
  background-color: #f6f2f2;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  -webkit-transform: translate(-150px, 5px);
          transform: translate(-150px, 5px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
}

.header-nav ul li .profile-dropdown h6 {
  color: #216d46;
}

.header-nav ul li .profile-dropdown a {
  color: #1B2430;
  font-size: 1rem;
}

.header-nav ul li .profile-dropdown a:hover {
  color: #D6D5A8;
}

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-banner section {
  width: 50vw;
  height: 100vh;
}

.main-banner .main-banner-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-banner .main-banner-section-1 h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
}

.main-banner .main-banner-section-1 h1 span {
  margin-left: 1em;
  background-color: #D6D5A8;
  color: black;
}

.main-banner .main-banner-section-2 {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-right: 1rem;
}

.main-banner .main-banner-section-2 div {
  width: 50vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.main-banner .main-banner-section-2 div svg {
  width: 90%;
  max-width: 500px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.our-mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.our-mission figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 50vw;
}

.our-mission figure svg {
  width: 80%;
}

.our-mission .our-mission-text {
  line-height: 2;
  min-width: 50vw;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.our-mission .our-mission-text h1 {
  margin-bottom: 30px;
  width: 75%;
}

.our-mission .our-mission-text #title1-mission {
  color: #D6D5A8;
  font-weight: 700;
}

.our-mission .our-mission-text #title2-mission {
  font-weight: 700;
  padding: 0 auto;
}

.our-mission .our-mission-text p {
  font-size: 1.3rem;
  width: 90%;
}

.our-mission .our-mission-text p span {
  margin-left: 1em;
  background-color: #D6D5A8;
  color: black;
}

.mission-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 4rem;
  margin-top: 10vh;
  line-height: 2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}

.mission-cards div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
}

.mission-cards div h2 {
  font-size: 2rem;
}

.mission-cards div p {
  font-size: 1.25rem;
  text-align: justify;
  margin-bottom: 40px;
}

.mission-cards div span {
  color: #D6D5A8;
}

.mission-cards div figure img {
  width: 80%;
}

.mission-cards .div-mission-2 {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

.our-services {
  height: auto;
  width: 100vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 50px;
}

.our-services h1 {
  font-size: 3rem;
  text-align: center;
  margin: 20vh auto 5vh;
}

.our-services figcaption {
  max-width: 350px;
  text-align: start;
  -ms-grid-row-align: center;
      align-self: center;
  line-height: 2;
  display: -ms-grid;
  display: grid;
  gap: 40px;
}

.our-services figcaption p {
  font-size: 1.2rem;
  text-align: justify;
}

.our-services figcaption a {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #D6D5A8;
  border-radius: 20px;
  text-decoration: none;
  color: #1B2430;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.our-services figcaption a:hover {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.our-services .our-services-fig-1 {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem auto;
  gap: 30px;
}

.our-services .our-services-fig-1 img {
  width: 50vw;
  max-width: 600px;
  border-radius: 100px;
}

.our-services .our-services-fig-2 {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
  padding: 2rem auto;
}

.our-services .our-services-fig-2 img {
  width: 40vw;
  max-width: 300px;
  border-radius: 100px;
}

.sponsor-section {
  width: 96vw;
  margin: 10vh auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #1B2430;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.sponsor-section h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 50px;
  color: #D6D5A8;
  font-weight: 700;
}

.sponsor-section .brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 1rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  gap: 40px;
}

.sponsor-section .brands span img {
  width: 40vw;
  max-width: 250px;
}

.footer-navigation {
  background: #000;
  width: 100vw;
  height: 60vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-navigation div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-navigation div p {
  word-spacing: 0;
}

.footer-navigation .footer-logo-container {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.footer-navigation .footer-logo-container #footer-logo {
  text-decoration: none;
  color: #FFF;
}

.footer-navigation .footer-contact-container {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 4rem;
}

.footer-navigation .footer-contact-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 auto;
  background: transparent;
}

.footer-navigation .footer-contact-container form input {
  width: 210px;
  border-radius: 10px;
  border: transparent 2px solid;
  padding: 0.5rem;
}

.footer-navigation .footer-contact-container form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .6rem;
  width: 120px;
  border-radius: 10px;
  background: #D6D5A8;
  border: transparent solid 2px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.footer-navigation .footer-contact-container form button:hover {
  background: rgba(43, 93, 146, 0.4);
  color: #fff;
}

.footer-navigation .footer-social-container {
  border-left: #D6D5A8 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-navigation .footer-social-container div {
  min-width: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.footer-navigation .footer-social-container div h4 {
  color: #D6D5A8;
}

.footer-navigation .footer-social-container .social-logos {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.footer-navigation .footer-social-container .social-logos span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-navigation .footer-social-container .social-logos span a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.footer-navigation .footer-social-container .social-logos span a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-navigation .footer-social-container .social-logos span i {
  font-size: 25px;
}

.footer-navigation .footer-social-container .company-contact-info {
  display: -ms-grid;
  display: grid;
  gap: 2px;
}

.footer-navigation .footer-social-container .company-contact-info p {
  font-size: 15px;
}

.toggledMenuIcon {
  z-index: 100;
}

.toggledMenu {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
  background: #fff;
}

.toggledMenu a {
  text-decoration: none;
  z-index: 101;
  color: #1B2430;
  font-weight: 500;
}

.toggledMenu a:focus {
  color: #D6D5A8;
}

.ko {
  color: #D6D5A8;
}

@media screen and (max-width: 776px) {
  .main-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5vh;
  }
  .main-banner .main-banner-section-1 {
    width: 100vw;
    padding: 1rem;
  }
  .main-banner .main-banner-section-1 h1 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .main-banner .main-banner-section-2 {
    width: 100vw;
  }
}

@media screen and (max-width: 1226px) {
  .our-mission {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

@media screen and (max-width: 1086px) {
  .our-services {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 100vw;
  }
  .our-services figcaption {
    margin: 3px auto;
    padding: 0 auto;
    width: 80%;
    gap: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-services figcaption h2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .our-services figcaption a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .our-services .our-services-fig-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 auto;
    margin: 0 auto;
  }
  .our-services .our-services-fig-1 img {
    margin: 0 auto;
    min-width: 75%;
  }
  .our-services .our-services-fig-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 auto;
    margin: 0 auto;
  }
  .our-services .our-services-fig-2 img {
    margin: 0 auto;
    min-width: 65%;
  }
  .footer-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80vh;
  }
  .footer-navigation .footer-logo-container {
    place-items: center;
  }
  .footer-navigation .footer-contact-container {
    gap: 10px;
  }
  .footer-navigation .footer-contact-container p {
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .footer-navigation .footer-contact-container form {
    width: 100%;
  }
  .footer-navigation .footer-contact-container form input {
    width: 70%;
  }
  .footer-navigation .footer-contact-container form button {
    width: 28%;
  }
}

@media screen and (max-width: 1055px) {
  .our-mission-text {
    padding-left: 3rem;
  }
}

@media screen and (max-width: 550px) {
  .mission-section {
    padding: 0;
    margin: 0 auto;
    width: 100vw;
  }
  p {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .our-mission {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .mission-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: 0 auto;
  }
  .our-mission-text {
    margin: 0 auto;
    padding: 0;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .our-mission-text h1 {
    font-size: 7.5vw;
    word-wrap: break-word;
    padding: 0;
    margin: 0 auto;
    -webkit-transform: translateX(-10px), scale(0.85);
            transform: translateX(-10px), scale(0.85);
  }
}

@media screen and (max-width: 767px) {
  .main-banner-section-1 h1 {
    padding: 0rem;
  }
  .main-banner-section-2,
  .main-banner-section-2 div svg {
    display: none;
  }
}
