@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Homemade+Apple&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
// Variables
$primary-color: #1B2430;
$secondary-color: #D6D5A8;
$text-color-1: #FFF;
$hover-text-color: rgba(179,
206,
249,
0.5);
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.settings {
    width: 80vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    .container {
        width: 90%;
        height: 100%;
        background-color: white;
        .settings-header {
            border-bottom: 2px solid $primary-color;
            div.name {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;
                div {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid black;
                    label {
                        color: black;
                    }
                    input {
                        padding: 5px;
                        width: 80%;
                        border: none;
                        outline: none;
                        font-weight: bold;
                    }
                    input.fullname {
                        width: 40%;
                    }
                }
            }
            .toggle {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                h4 {
                    color: black;
                    border: 1px solid gray;
                    padding: 10px;
                    border-radius: 10px
                }
                .toggleButton {
                    width: 60px;
                    height: 30px;
                    background-color: $primary-color;
                    border-radius: 5rem;
                    display: flex;
                    align-items: center;
                    padding: 1px;
                    border: 1px solid $primary-color;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 11px;
                    color: $text-color-1;
                    .spanToggle {
                        position: absolute;
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        background-color: #f8ec03;
                        transform: translateX(0);
                        transition: 0.7s;
                    }
                }
                .editText {
                    transform: translateY(-20px);
                    color: black;
                }
            }
        }
        .settings-body {
            color: black;
        }
    }
}

@media screen and (max-width: 700px) {
    .settings {
        width: 100vw;
        .container {
            width: 100%;
            background-color: white;
            .settings-header {
                border-bottom: 2px solid $primary-color;
                div.name {
                    gap: 10px;
                    div {
                        label {
                            color: black;
                        }
                    }
                }
                .toggle {
                    margin: 2rem 0;
                }
            }
            .settings-body {
                div {
                    table {
                        border: 1px solid gray;
                        text-align: center;
                        width: 100%;
                    }
                }
                #btnAddTechnology {
                    width: 90%;
                    margin: 1rem 0;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .settings {
        width: 100vw;
        .container {
            width: 100%;
        }
    }
}