@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Homemade+Apple&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
// Variables
$primary-color: #1B2430;
$secondary-color: #D6D5A8;
$text-color-1: #FFF;
$hover-text-color: rgba(179,
206,
249,
0.5);
* {
    margin: 0;
    box-sizing: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-justify: distribute;
    word-spacing: -2px;
    text-align-last: left;
}

p {
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $primary-color;
    color: $text-color-1;
    overflow-x: hidden;
    max-width: 100vw;
}

// THIS IS A HEADER SECTION RULESET.
.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem;
    font-size: 1.2rem;
    width: 100vw;

    #logo-header {
        h1 {
            padding-left: 1.2rem;
            a {
                color: $text-color-1;
                text-decoration: none;
                &:hover {
                    color: $hover-text-color;
                }
            }
        }
    }
    ul {
        list-style: none;
        display: flex;
        margin-top: 10px;
        padding-right: 1.2rem;
        span {
            user-select: none;
        }
        li {
            margin: 0 30px;
            a {
                text-decoration: none;
                color: $text-color-1;
                &:hover {
                    color: $hover-text-color;
                }
            }
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
            }
            .profile-dropdown {
                width: 200px;
                height: auto;
                background-color: rgb(246, 242, 242);
                position: absolute;
                padding: 10px;
                border-radius: 5px;
                transform: translate(-150px, 5px);
                transition: 0.5s;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                h6 {
                    color: rgb(33, 109, 70);
                }
                a {
                    color: #1B2430;
                    font-size: 1rem;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}

// THIS IS THE MAINPAGE BANNER RULESET.
.main-banner {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    section {
        width: 50vw;
        height: 100vh;
    }
    .main-banner-section-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        h1 {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
            width: max-content;
            transform: translateX(100px);
        }
    }
    .main-banner-section-2 {
        display: grid;
        place-content: center;
        padding-right: 1rem;
        div {
            width: 50vw;
            display: grid;
            place-items: center;
            svg {
                width: 90%;
                max-width: 500px;
                height: max-content;
            }
        }
    }
}
// MISSION RULESET
.our-mission {
    display: flex;
    justify-content: space-evenly;

    figure {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 50vw;

        svg {
            width: 80%;
        }
    }

    .our-mission-text {
        line-height: 2;
        min-width: 50vw;
        min-height: max-content;
        display: grid;
        place-content: center;

        h1 {
            margin-bottom: 30px;
            width: 90%;
        }
        #title1-mission {
            color: $secondary-color;
            font-weight: 700;
        }
        #title2-mission {
            font-weight: 700;
        }

        p {
            font-size: 1.3rem;
            width: 90%;
        }
    }

}
.mission-cards {
    display: flex;
    width: 100vw;
    min-height: max-content;
    justify-content: center;
    padding: 1rem 4rem;
    margin-top: 10vh;
    line-height: 2;
    flex-wrap: wrap;
    gap: 60px;

    div {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.25rem;
            text-align: justify;
            margin-bottom: 40px;
        }
        span {
            color: $secondary-color;
        }
        figure {
            img {
                width: 80%;
            }
        }
    }

    .div-mission-2 {
        transform: translateY(-9px);
    }
}
// OUR SERVICES RULESET
.our-services {
    height: auto;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;

    h1 {
        font-size: 3rem;
        text-align: center;
        margin: 20vh auto 5vh;
    }
    
    figcaption {
        max-width: 350px;
        text-align: start;
        align-self: center;
        line-height: 2;
        display: grid;
        gap: 40px;

        p {
            font-size: 1.2rem;
            text-align: justify;
        }

        a {
            padding: 1rem;
            font-size: 1rem;
            font-weight: 700;
            width: max-content;
            background: $secondary-color;
            border-radius: 20px;
            text-decoration: none;
            color: $primary-color;
            transition: all 200ms ease-in-out;

            &:hover {
                background: rgba(0,0,0,0.4);
                color: #fff;
            }
        }
    }

    .our-services-fig-1 {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding:  2rem auto;
        gap: 30px;

        img {
            width: 50vw;
            max-width: 600px;
            border-radius: 100px;
        }

    }

    .our-services-fig-2 {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 30px;
            padding: 2rem auto;
            
            img {
                width: 40vw;
                max-width: 300px;
                border-radius: 100px;
            }
            
    }  
}

     //BRANDS RULESET
    .sponsor-section {
        width: 96vw;
        margin: 10vh auto;
        height: max-content;
        background: $primary-color;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        h1 {
            align-self: center;
            padding-top: 50px;
            color: $secondary-color;
            font-weight: 700;
        }
        
        .brands {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 50px 1rem;
            border-radius: 20px;
            background: rgba(255, 255, 255, 0.5);
            gap: 40px;

            span img {
                width: 40vw;
                max-width: 250px;
            }
        }
    }


// FOOTER RULESET
.footer-navigation {
    background: #000;
    width: 100vw;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    div {
        flex: 1;
        p {
            word-spacing: 0;    
        }
    }

    .footer-logo-container {
        display: grid;
        place-content: center;
        #footer-logo {
            text-decoration: none;
            color: $text-color-1;
        }
    }

    .footer-contact-container {
        display: grid;
        place-content: center;
        padding: 4rem;

        form {
            display: flex;
            margin: 0;
            gap: 10px;
            input {
                width: 210px;
                border: transparent 2px solid;
            }
            button {
                display: flex;
                justify-content: center;
                padding: .6rem;
                width: 120px;
                border-radius: 10px;
                background: $secondary-color;
                border: transparent solid 2px;
                transition: all 200ms ease-in-out;
                &:hover {
                    background: rgba(43, 93, 146, 0.4);
                    color: #fff;
                }
            }
        }
    }

    .footer-social-container {
        border-left: $secondary-color 2px solid;
        display: flex;
        flex-wrap: wrap;
        div {
            min-width: 50%;
            display: grid;
            place-content: center;
            h4 {
                color: $secondary-color;
            }
        }
        .social-logos {
            display: grid;
            gap: 10px;
            span {
                display: flex;
                justify-content: space-between;
                a {
                    text-decoration: none;
                    color: #fff;
                    transition: all 200ms ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                i {
                    font-size: 25px;
                }
            }
        }
        .company-contact-info {
            display: grid;
            gap: 2px;
            p {
                font-size: 15px;
            }
        }
    }
}
.toggledMenuIcon {
    z-index: 100;
}
.toggledMenu {
    justify-content: space-around;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    height: max-content;
    align-items: flex-end;
    flex-wrap: wrap;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    a {
        text-decoration: none;
        z-index: 101;
        color: $primary-color;
        font-weight: 500;
        &:focus {
            color: $secondary-color;
        }
    }
}
.ko {
    color: $secondary-color;
}








// MEDIA QUERY
@media screen and (max-width:776px) {
    .main-banner {
        flex-direction: column;
        align-items: center;
        padding-top: 5vh;

        .main-banner-section-1 {
            width: 100vw;
            padding: 1rem;
            h1 {
                transform: translateX(0);
            }
        }

        .main-banner-section-2 {
            width: 100vw;
        }
    }
}
@media screen and (max-width: 1226px) {
    .our-mission {
        flex-wrap: wrap-reverse;
    }
}
@media screen and (max-width: 1086px) {
    .our-services {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100vw;
        figcaption {
            margin: 3px auto;
            padding: 0 auto;
            width: 80%;
            gap: 2px;
            display: flex;
            flex-direction: column;
            h2 {
                align-self: center;
            }
            a {
                align-self: center;
            }
        }
        .our-services-fig-1 {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 auto;
            margin: 0 auto;

            img {
                margin: 0 auto;
                min-width: 75%;
            }
        }
        .our-services-fig-2 {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 auto;
            margin: 0 auto;

            img {
                margin: 0 auto;
                min-width: 65%;
            }
        }
    }
    .footer-navigation {
        flex-direction: column;
        height: 80vh;
        .footer-logo-container {
            place-items: center;
        }
        .footer-contact-container {
            gap: 10px;
            p { 
                width: 100%;
                padding: 0 auto;
                margin: 0 auto;
                transform: scale(.9);
            }
            form {
                width: 100%;
                input {
                    width: 70%;
                }
                button {
                    width: 28%; 
                }
            }
        }
    }
}
@media screen and (max-width: 1055px) {
    .our-mission-text {
        padding-left: 3rem;
    }
}
@media screen and (max-width: 550px) { 
    .mission-section {
        padding: 0;
        margin: 0 auto;
        width: 100vw; 
    }
    p {
        transform: scale(.85);
    }
    .our-mission {
        flex-direction: column-reverse;
    }
    .mission-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
    }
    .our-mission-text {
        margin: 0 auto;
        padding: 0;
        display: grid;
        place-items: center;
        
        h1 {
            font-size: 7.5vw;
            word-wrap: break-word;
            padding: 0;
            margin: 0 auto;
            transform: translateX(-10px), scale(.85);
        }
    }
}
@media screen and (max-width: 767px) {
    .main-banner-section-1 {
        h1 {
            padding: 0rem;
        }
    }
    .main-banner-section-2,
    .main-banner-section-2 div svg {
        display: none;
    }
}